/* RESET */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Manrope:100,200,300,500,600,700,800,900');

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 175%;
  font-weight: 400;
  color: var(--dark-blue);
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
.wrapper{
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}
.heading-one {
  font-weight: 600;
  font-size: 54px;
  line-height: 137%;
}
.heading-two {
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
}
.heading-three {
  font-weight: 600;
  font-size: 38px;
  line-height: 147%;
}
.heading-four {
  font-weight: 500;
  font-size: 36px;
  line-height: 156%;
}
.heading-five {
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
}
.heading-six {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}
.lable-one {
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
}
.lable-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
}

/* COLLOR PALLETTE */

:root {
  --royal-blue: #2405f2;
  --dark-blue: #282938;
  --grey: #f4f6fc;
  --yellow: #fcd980;
  --tint-blue: #1c1e53;
}

/*------------------------------Navbar-------------------------------*/

#navbar {
  width: 100%;
  background-color: var(--tint-blue);
  position: fixed;
  z-index: 2;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar .logo {
  padding: 32px 0;
}
.nav-menu ul.nav{
  display: flex;
  align-items: center;
}
.nav-menu ul.nav a.nav-link {
  color: #BBBBCB;
  margin: 0 16px;
  display: inline-block;
  text-align: center;
}
.nav-menu ul.nav a.nav-link:hover{
  color:#fff;
}
.nav-menu ul.nav .last-list-menu{
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  margin-left: 48px;
}
.nav-menu ul.nav .last-list-menu .nav-link {
  color:#fff;
  padding: 16px 48px;
  display: flex;
}
.trigger-menu {
  cursor: pointer;
  display: none;
  color: #fff;
}
.close-menu {
  cursor: pointer;
  color: #fff;
  display: none;
}
.new-sub-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--grey);
  width: 50%;
  z-index: 3;
  box-shadow: 0px 5px 8px rgb(0 0 0 / 20%);
  display: none;
}
.new-nav-link {
  position: relative;
  padding: 20px;
  cursor: pointer;
  color: #000;
  text-align: center; 
  display: block;
  border-bottom: 1px solid #eee;
}
.new-nav-link:hover{
  color: var(--tint-blue);
}

@media (max-width:1199px) {
  .nav-menu ul.nav a.nav-link{
    margin: 0 12px;
  }
  .nav-menu ul.nav .last-list-menu{
    margin-left: 16px;
  }
  .nav-menu ul.nav .last-list-menu .nav-link{
    padding: 16px 24px;
  }
}
@media (max-width:991px) {
  #navbar .logo img{
    max-width: 110px;
  }
  .nav-menu ul.nav a.nav-link{
    margin: 0 8px;
  }
  .nav-menu ul.nav .last-list-menu{
    margin-left: 12px;
  }
  .nav-menu ul.nav .last-list-menu .nav-link{
    padding: 12px 16px;
  }
}
@media (max-width:785px) {
  #navbar .logo{
    padding: 24px 0;
  }
  #navbar .logo img{
    max-width: 100px;
  }
  .nav-menu ul.nav{
    display: none;
  }
  .trigger-menu {
    display: block;
  }
}
@media (max-width:566px){
  .new-sub-menu{
    width: 75%;
  }
}

/*---------------------------------FOOTER---------------------------------*/

.footer-main {
	background-color: var(--tint-blue);
}
.footer-content {
	margin-top: 96px;
	display: flex;
}
.footer-content-left {
	width: 400px;
	height: 100%;
}
.footer-content-left-lable {
	margin-top: 22px;
	color: #fff;
	opacity: 0.8;
}
.footer-content-right {
	margin-left: 260px;
	width: 400px;
	height: 100%;
}
.footer-content-right-title {
	color: #fff;
	margin-bottom: 14px;
}
.footer-content-right-lable {
	color: var(--grey);
	opacity: 0.8;
	margin-bottom: 28px;
}
.sosial-box ul{
  display: flex;
	justify-content: space-between;
}
.fotter-content-right-sosial ul{
	width: 144px;
}
.fotter-content-right-sosial ul li a{
	color: #fff;
}
.footer-contacts {
	width: 517px;
	background-color: var(--yellow);
	padding: 0 37px;
	display: flex;
}
.footer-contacts-email {
	margin-top: 17px;
	margin-bottom: 16px;
}
.footer-contacts-email-text,
.footer-contacts-call-text {
	margin-bottom: 1px;
}
.footer-contacts-email-link,
.footer-contacts-call-link {
	color: var(--dark-blue);
}
.footer-contacts-call {
	margin-top: 17px;
	margin-left: 29px;
}
.footer-low {
	padding: 32px 0;
}
.footer-low-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-low-content-navlist ul{
	display: flex;
}
.footer-low-content-navlist ul li{
	margin-right: 32px;
}
.footer-low-content-navlist ul li:last-child{
	margin-right: 0;
}
.footer-low-content-navlist ul li a{
	color: var(--dark-blue);
}
@media (max-width: 991px) {
	.footer-content{
		margin-bottom: 20px;
	}
	.footer-content-right{
		margin-left: 130px;
	}
	.footer-low-content-navlist ul li{
		margin-right: 16px;
	}
}
@media (max-width: 785px) {
	.footer-content-left-logo img{
		width: 100px;
	}
	.footer-content-left-lable,
	.footer-content-right-lable,
	.footer-contacts-email-link,
	.footer-contacts-call-link{
		font-size: 14px;
	}
	.footer-content-right{
		margin-left: 60px;
	}
	.footer-contacts{
		width: 100%;
		justify-content: space-between;
	}
	.footer-contacts-email,
	.footer-contacts-call{
		margin: 10px;
	}
	.footer-content-right-title{
		font-size: 35px;
	}
	.footer-contacts-email-text, .footer-contacts-call-text{
		font-size: 14px;
	}
	.footer-low-content{
		display: block;
	}
	.footer-low-content-navlist{
		margin-top: 20px;
	}
	.footer-low-content-navlist ul{
		flex-wrap: wrap;
	}
}
@media (max-width: 499px) {
	.footer-content{
		display: block;
	}
	.footer-content-left{
		height: auto;
	}
	.footer-content-left{
		width: auto;
	}
	.footer-content-right{
		margin: 0;
		margin-top: 30px;
		width: auto;
	}
	.footer-contacts{
		display: block;
	}
	.footer-low-content{
		padding: 0 15px;
	}
}


/*--------------------------------------------------------------------------------------------------------------------*
/*------------------------------------------------HOME----------------------------------------------------------------*

/*-------------------------------HERO------------------------------------------*/

#hero {
  background-color: var(--tint-blue);
}
.hero-content{
  margin-top: 218px;
  margin-bottom: 128px;
}
.hero-title {
  color: #FFFFFF;
  margin-bottom: 24px;
}
.hero-sub-title-text {
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 48px;
}
.hero-buttons{
  display: flex;
}
.hero-yellow-button a {
  padding: 16px 56px;
  color: #1B1C2B;
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  font-family: "Manrope",sans-serif;
}
.hero-transparent-button {
  background-color: transparent;
  margin-left: 40px;
}
.hero-transparent-button a{
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.hero-transparent-button a img{
  margin-left: 16px;
}
.hero-transparent-button a:hover{
  color: var(--yellow);
}
.hero-left-image{
  float: right;
  margin-top: 23px;
}
@media (max-width:1199px) {
  .hero-title{
    font-size: 42px;
    margin-bottom: 20px;
  }
  .hero-sub-title-text{
    margin-bottom: 25px;
  }
  .hero-yellow-button a{
    padding: 12px 24px;
    font-size: 16px;
  }
  .hero-left-image img{
    max-width: 470px;
  }
}
@media (max-width:991px){
  .hero-title{
    font-size: 33px;
    margin-bottom: 15px;
  }
  .hero-sub-title-text{
    font-size: 14px;
    margin-bottom: 15px;
  }
  .hero-buttons{
    display: block;
  }
  .hero-transparent-button{
    margin-left: 16px;
    margin-top: 20px;
  }
  .hero-transparent-button a{
    font-size: 14px;
  }
  .hero-yellow-button a{
    padding: 8px 16px;
    font-size: 16px;
  }
  .hero-left-image img{
    max-width: 370px;
  }
}
@media (max-width:785px){
  .hero-title{
    font-size: 42px;
    margin-bottom: 20px;
  }
  .hero-sub-title-text{
    margin-bottom: 25px;
  }
  .hero-yellow-button a{
    padding: 12px 24px;
    font-size: 16px;
  }
  .hero-transparent-button{
    margin-left: 24px;
   }
  .hero-left-image img{
    margin-top: 50px;
    max-width: 500px;
  }
}
@media (max-width:566px){
	.hero-title{
		font-size: 30px;
		margin-bottom: 20px;
	  }
  .hero-left-image img{
    max-width: 100%;
  }
}

/*-------------------SERVICES-----------------------------------------------*/

#services{
  padding-top: 128px;
  padding-bottom: 80px;
  background-color: #F4F6FC;
}
.services-text {
  opacity: 0.7;
  margin: 16px 0;
}
.services-link {
  color: var(--royal-blue);
  display: flex;
  align-items: center;
}
.services-link img{
  margin-left: 16px;
}
.services-box{
  margin-left: 138px;
  display: flex;
  flex-wrap: wrap;
}
.servise-reviews-clients {
  max-width: 303px;
  margin-bottom: 48px;
  margin-right: 25px;
}
.servise-reviews-clients-poiter {
  margin-bottom: 16px;
}
.servise-reviews-clients-title {
  margin-bottom: 8px;
}
.service-reviews-clients-text {
  opacity: 0.7;
}
@media (max-width: 1399px){
	.services-box{
		margin-left: 80px;
	  }
}
@media (max-width: 991px) {
  .services-box{
    margin-left: auto;
    margin-top: 54px;
  }
  .servise-servise-reviews-clients {
    margin-top: 20px;
  }
}
@media (max-width:785px) {
	.services-title {
		font-size: 35px;
	}
	.servise-reviews-clients-title{
		font-size: 30px;
	}
}

/*-----------------PROJECTS-----------------------------------------------------------*/

#projects{
  padding: 128px 0;
}
.projects-header{
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}
.projects-link-more{
  float: right;
}
.projects-link-more a{
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--dark-blue);
}
.projects-link-more a img{
  margin-left: 16px;
}
.projects-card {
  display: flex;
}
.projects-card-first,
.projects-card-second,
.projects-card-thrid {
  position: relative;
  overflow: hidden;
}
.projects-card-first{
  margin-right: 35px;
}
.projects-card-thrid{
  margin-top: 32px;
}
.projects-card-first img{
  max-width: 840px;
}
.projects-card-second,
.projects-card-thrid,
.projects-card-second img,
.projects-card-thrid img{
  max-width: 405px;
}
.projects-card-first-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 396px;
  height: 100%;
  background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  transform: translateX(-396px);
  transition: all 0.3s ease;
}
.projects-card-second-hover,
.projects-card-thrid-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  transform: translateX(-110%);
  transition: all 0.3s ease;
}
.projects-card-first-hover-content {
  margin: 312px 0 0 48px;
  max-width: 300px;
}
.projects-card-second-hover-content,
.projects-card-thrid-hover-content {
  margin: 129px 0 0 53px;
}
.projects-card-first-hover-content-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.projects-card-second-hover-content-title,
.projects-card-thrid-hover-content-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.projects-card-first-hover-content-text {
  color: #FFFFFF;
  margin-bottom: 40px;
}
.projects-card-first-hover-content-link,
.projects-card-second-hover-content-link,
.projects-card-thrid-hover-content-link{
  color: var(--yellow);
  display: flex;
  align-items: center;
}
.projects-card-first-hover-content-link img,
.projects-card-second-hover-content-link img,
.projects-card-thrid-hover-content-link img{
  margin-left: 16px;
}
.projects-card-first:hover .projects-card-first-hover,
.projects-card-second:hover .projects-card-second-hover,
.projects-card-thrid:hover .projects-card-thrid-hover{
  transform: translateX(0px);
}


@media (max-width:1399px){
  .projects-card-first img{
    max-width: 672px;
  }
  .projects-card-second img,
  .projects-card-thrid img{
  max-width: 324px;
  }
  .projects-card-second,
  .projects-card-thrid {
    float: right;
  }
  .projects-card-first-hover-content {
    margin: 240px 0 0 38px;
    max-width: 300px;
  }
  .projects-card-second-hover-content,
  .projects-card-thrid-hover-content {
    margin: 100px 0 0 42px;
  }
}
@media (max-width:1199px){
  .projects-card-first img{
    max-width: 588px;
  }
  .projects-card-second img,
  .projects-card-thrid img{
  max-width: 283px; 
  }
  .projects-card-first-hover-content {
    margin: 180px 0 0 30px;
    max-width: 300px;
  }
  .projects-card-second-hover-content,
  .projects-card-thrid-hover-content {
    margin: 73px 0 0 37px;
  }
}
@media (max-width:991px) {
  .projects-title{
    font-size: 35px;
  }
  .projects-card {
    display: block;
  }
  .projects-card-first img{
    max-width: 100%;
  }
  .projects-right-content{
    display: flex;
    justify-content: space-between ;
    margin-top: 30px;
  }
  .projects-card-second,
  .projects-card-thrid{
    max-width: 48% ;
  }
  .projects-card-first,
  .projects-card-second,
  .projects-card-thrid {
    margin: 0 auto;
  }
  .projects-card-second,
  .projects-card-thrid {
    float: left;
  }
  .projects-card-second-hover-content,
  .projects-card-thrid-hover-content {
    margin: 73px 0 0 30px;
  }
  .projects-card-second-hover-content-title, 
  .projects-card-thrid-hover-content-title{
    font-size: 20px;
    margin-bottom: 5px;
  }
}
@media (max-width:785px){
  .projects-header{
    display: block;
  }
  .projects-title{
    font-size: 30px;
  }
  .projects-link-more{
    float: left;
    margin-top: 20px;
  }
  .projects-right-content{
    display: block;
  }
  .projects-card-second,
  .projects-card-thrid{
    min-width: 48%;
  }
  .projects-card-thrid{
    margin-left: 4%;
  }
}
@media (max-width:566px){
  .projects-card-second, 
  .projects-card-thrid{
    min-width: 100%;
  }
  .projects-card-thrid{
    margin-top: 30px;
    margin-left: 0;
  }
  .projects-card-second-image,
  .projects-card-thrid-image{
    min-width: 100%;
    object-fit: cover;
  }
}
@media (max-width:400px){
  .projects-card-second, 
  .projects-card-thrid{
    min-width: 100%;
    margin: 0;
  }
  .projects-card-thrid{
    margin-top: 30px;
  }
  .projects-card-first-hover-content{
    margin: 73px 0 0 30px;
  }
  .projects-card-first-hover-content-title{
    font-size: 20px;
    margin-bottom: 5px;
  }
  .projects-card-first-hover-content-text{
    margin-bottom: 10px;
    font-size: 14px;
  }
}

/*------------------------FEATURES---------------------------------*/

#features{
  background-color: #F4F6FC;
  padding: 128px 0;
}
.features-header {
  text-align: center;
}
.features-sup-title {
  margin-bottom: 12px;
}
.features-title {
  max-width: 630px;
  margin: 0 auto;
  margin-bottom: 47px;
}
.features-box,
.section-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 24px;
}
.features-reviews-clients {
  background-color: #fff;
}
.section-reviews-clients{
  padding: 58px 32px 48px 48px;
}
.section-reviews-clients-icon {
  margin-bottom: 22px;
}
.section-reviews-clients-title {
  margin-bottom: 12px;
}
.section-reviews-clients-text {
  opacity: 0.7;
}
@media (max-width: 1199px) {
  .features-title {
    font-size: 40px;
  }
  .features-box,
  .section-box {
    grid-column-gap: 20px;
    grid-row-gap: 24px;
  }
  .section-reviews-clients {
    padding: 40px 20px 40px 35px;
  }
}
@media (max-width: 991px) {
  .features-title {
    font-size: 36px;
  }
  .section-reviews-clients-title {
    max-width: 530px;
    font-size: 35px;
  }
  .features-box,
  .section-box {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 24px;
  }
  .section-reviews-clients {
    padding: 40px 15px 20px 35px;
  }
}
@media (max-width:785px){
  .features-title {
    font-size: 30px;
  }
  .section-reviews-clients-title {
    max-width: 410px;
    font-size: 30px;
  }
  .section-reviews-clients-icon {
    margin-bottom: 12px;
  }
  .section-reviews-clients-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .section-reviews-clients {
    padding: 30px 10px 15px 25px;
  }
}
@media (max-width:566px){
  .features-sup-title{
    font-size: 12px;
  }
  .features-title {
    max-width: 320px;
    font-size: 24px;
  }
  .features-box,
  .section-box {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .section-reviews-clients {
    padding: 30px 10px 20px 25px;
  }
}

/*-------------------------------REVIEWS-------------------------------------------*/

#reviews{
  background: rgba(244, 246, 252, 0.5);
  padding: 128px 0;
}
.reviews-header{
  max-width: 327px;
}
.reviews-title {
  margin-bottom: 16px;
}
.reviews-text {
  opacity: 0.7;
}
.reviews-content{
  position: relative;
}
.reviews-clients-text {
  margin-bottom: 48px;
}
.reviews-clients-info {
  display: flex;
  height: 52px;
}
.reviews-clients-info-photo {
  width: 52px;
  height: 52px;
}
.reviews-clients-info-photo img{
  border-radius: 50%;
}
.reviews-clients-info-text{
  margin-left: 14px;
}
.reviews-clients-info-designation {
  font-weight: 500;
  font-size: 12px;
  line-height: 233%;
  margin-top: -4px;
}
.owl-nav{
  position: absolute;
  bottom: 0;
  right: 0;
}
.owl-theme .owl-nav [class*=owl-]{
  width: 48px;
  height: 48px;
  color: rgba(40, 41, 56, 0.6)!important;
  margin: 0 5px;
  
}
.owl-theme .owl-nav [class*=owl-]:hover{
  background-color: #5239FA;
  border-radius: 50%;
  color: #fff!important;
}
.owl-nav{
  display: flex;
  align-items: center;
}
.owl-prev i{
  padding-right: 5px;
}
.owl-next i{
  padding-left: 5px;
}
@media (max-width: 991px) {
  .reviews-clients-text{
    margin-top: 50px;
  }
}
@media (max-width: 785px) {
	.reviews-title{
		font-size: 35px;
	}
	.reviews-clients-text{
    font-size: 20px;
  }
}

/*------------------------------FAQ-------------------------------*/

#faq{
  padding: 128px 0;
}
.faq-heading {
  max-width: 330px;
}
.faq-title {
  margin-bottom: 16px;
}
.faq-link {
  color: var(--royal-blue);
}
.faq-box {
  display: block;
  float: right;
  width: 845px;
}
.faq-questions {
  display: flex;
  border-bottom: 2px solid #ECECF1;
  margin-bottom: 32px;
  cursor: pointer;
}
.faq-questions:last-child{
  border: none;
}
.faq-questions-number {
  color:  var(--royal-blue);
  margin-left: 27px;
}
.faq-questions-content {
  margin-left: 59px;
}
.faq-questions-question {
  margin-bottom: 32px;
}
.faq-questions-text {
  opacity: 0.87;
  display: none;
}
.faq-questions-icon {
  margin-right: 0;
  margin-left: auto;
  transition: all 0.3s ease;
  padding-left: 10px;
}
.faq-questions-icon span{
  display: inline-block;
  color: var(--dark-blue);
  opacity: 0.7;
  font-size: 22px;
  width: 22px;
  height: 22px;
  font-weight: 300;
  margin-right: 0;
  margin-left: auto;
  transition: all 0.3s ease;
}
.faq-questions.active .faq-questions-question{
margin-bottom: 16px;
}
.faq-questions.active .faq-questions-text{
  display: block;
  margin-bottom: 48px;
}
.faq-questions.active .faq-questions-icon span{
  transition: all 0.3s ease;
  transform: rotate(45deg) translate(10%, 10%);
}
@media (max-width:1399px) {
	.faq-box {
		display: block;
		margin-left: 36px;
		width: auto;
		float: left;
	  }
}
@media (max-width:1199px) {
  .faq-box {
    display: block;
    margin-left: 36px;
  }
}
@media (max-width:991px) {
  .faq-box {
    display: block;
    margin-top: 75px;
    margin-left: 0;
  }
}
@media (max-width: 785px) {
	.faq-title {
		font-size: 35px;
	}
	.faq-questions-question {
		font-size: 20px;
	}
	.faq-questions-text{
		font-size: 16px;
	}
}

/*------------------------CONTACT US----------------------------------------------*/

.contact-form-content{
  display: flex;  
}
.contact-form-left-content {
  position: relative;
  width: 102.5%;
  height: 100%;
}
.contact-form-left-content-image{
  background-image: url(/asist/image/countact-us.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.contact-form-left-content-overlay{
  position: absolute;
  background-color: rgba(28, 30, 83, 0.5);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.contact-form-left-content-container{
	padding: 96px;
	padding-bottom: auto;
}
.contact-form-left-content-title {
  margin-bottom: 24px;
  color: #fff;
}
.contact-form-left-content-text {
  color: #fff;
  font-weight: 500;
}
.contact-form-right-content {
	width: 97.5%;
	height: 100%;
	margin-left: 16px;
	background-color: var(--tint-blue);
}
.contact-form-right-content-container{
	padding: 96px;
	padding-bottom: 48px;
}
.contact-form-right-content-title {
	margin-bottom: 16px;
	color: #fff;
}
.contact-form-right-content-text {
	color: var(--grey);
	margin-bottom: 40px;
}
.contact-form-right-content-form {
	margin-bottom: 39px;
	display: block;
}
.contact-form-right-content-login,
.contact-form-right-content-email,
.contact-form-right-content-url {
	width: 100%;
	border: 1.5px solid rgba(255, 255, 255, 0.05);
	box-sizing: border-box;
	border-radius: 8px;
	height: 64px;
	background-color: transparent;
	padding: 18px 32px;
	margin-bottom: 16px;
	color: var(--grey);
}
.contact-form-right-content-url {
	margin-bottom: 0;
}
.contact-form-right-content-button {
	width: 100%;
	padding: 16px 0;
	font-family: 'Manrope';
	font-weight: 600;
	font-size: 18px;
	line-height: 178%;
	margin-bottom: 44px;
}
.contact-form-right-content-link a{
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-form-right-content-link a img{
	margin-left: 16px;
}
@media (max-width: 1399px) {
	.contact-form-left-content {
		width: 100%;
	}
	.contact-form-right-content {
		width: 100%;
		margin-left: 0px;
	}
}
@media (max-width: 1199px){
	.contact-form-content{
		display: block;
	}
}
@media (max-width: 991px){
	.contact-form-left-content-title{
		font-size: 40px;
	}
}
@media (max-width: 785px){
	.contact-form-left-content-title{
		font-size: 28px;
	}
}
@media (max-width: 566px){
	.contact-form-left-content-title{
		font-size: 28px;
		width: 100%;
	}
	.contact-form-left-content-container,
	.contact-form-right-content-container{
		padding-left: 48px;
		padding-right: 48px;
	}
}

/*------------------------------BLOG----------------------------------*/

#blog{
	padding: 128px 0;
}
.blog-title {
	margin-bottom: 64px;
}
.blog-content {
	display: flex;
	justify-content: space-between;
}
.blog-box {
	margin-right: 32px;
}
.blog-box:last-child{
	margin-right: 0;
}
.blog-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.blog-box-date {
	margin-top: 40px;
	opacity: 0.7;
}
.blog-box-description {
	margin: 16px 0;
}
.blog-box-sub-text {
	opacity: 0.7;
	margin-bottom: 32px;
	width: 101%;
}
.blog-box-link a{
	display: flex;
	align-items: center;
	color: var(--dark-blue);
}
.blog-box-link a img{
	margin-left: 16px;
}
@media (max-width: 1199px) {
	.blog-box {
		margin-right: 24px;
	}

}
@media (max-width: 991px){
	.blog-content {
		flex-wrap: wrap;
	}
	.blog-box{
		width: 48%;
		margin: 0;
		margin-bottom: 30px;
	}
}
@media (max-width: 785px) {
	.blog-box{
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
	}
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------ABOUT US---------------------------------------------------------------------*/

/*---------------------------HERO----------------------------------------------*/

#about-hero{
  margin-top: 220px;
  margin-bottom: 128px;
}
.about-hero-sup-title {
  margin-top: 24px;
  margin-bottom: 8px;
}
.about-hero-title {
  margin-bottom: 31px;
}
.about-hero-text {
  opacity: 0.7;
  text-align: justify;
  width: 75%;
}
.about-hero-image {
  float: right;
}
.about-hero-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .about-hero-title {
      font-size: 44px;
  }
  .about-hero-text {
      width: 90%;
  }
}
@media (max-width: 991px) {
  .about-hero-image {
      margin-top: 30px;
      float: left;
  }
}
@media (max-width: 785px) {
  .about-hero-sup-title {
      font-size: 16px;
  }
  .about-hero-title {
      font-size: 38px;
  }
  .about-hero-text {
      opacity: 0.7;
      text-align: justify;
      width: 100%;
  }
}

/*------------------------ELEMENTOR---------------------------------------*/

.elementor-content {
  background-color: #F4F5F5;
  padding: 80px;
}
.elementor-sup-title {
  margin-bottom: 4px;
}
.elementor-content-left,
.elementor-content-right{
  width: 92%;
}
.elementor-content-right{
  margin-left: 16px;
}
.elementor-title {
   margin-bottom: 16px;
}
.elementor-text {
  opacity: 0.7;
}
.elementor-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 785px) {
  .elementor-sup-title {
      font-size: 14px;
  }
  .elementor-content-right{
      margin-left: 0;
      margin-top: 30px;
  }
  .elementor-title{
      font-size: 30px;
  }
}
@media (max-width: 566px) {
  .elementor-text {
      font-size: 14px;
  }
}

/*------------------------------PROCESS------------------------------------------*/

#process{
  padding: 128px 0;
}
.process-title {
  margin-bottom: 48px;
  text-align: center;
}
.process-box {
  display: flex;
}
.process-item {
  margin-right: 56px;
  width: 21.25%;
}
.process-item:last-child{
  margin-right: 0;
}
.process-item-line {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.process-item-line-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--royal-blue);
  padding-right: 24px;
}
.process-item-line-indicator {
  border-top: 2px dashed var(--royal-blue);
  opacity: 0.4;
  width: 100%;
  margin-left: 24px;
}
.process-item-title {
  margin-bottom: 8px;
}
.process-item-text {
  opacity: 0.7;
}

@media (max-width: 991px) {
  .process-box {
      flex-wrap: wrap;
  }
  .process-title{
      font-size: 40px;
  }
  .process-item {
      margin-top: 36px;
      width: 43%;
  }
  .process-item:nth-child(2){
      margin-right: 0;
  }
  .process-item-line {
      margin-bottom: 24px;
  }
}
@media (max-width: 566px) {
  .process-item {
      margin-top: 30px;
      margin-right: 0px;
      width: 100%;
  }
  .process-item-line {
      margin-bottom: 18px;
  }
}

/*------------------------POST------------------------------------------*/

#post{
  background-color: #EEF4FA;
  padding: 128px 0;
}
.post-left{
  margin-bottom: 96px;
  display: flex;
}
.post-right{
  display: flex;
}
.post-content {
  margin-top: 54px;
  width: 91%;
}
.post-title {
  margin: 16px 0;
}
.post-text {
  opacity: 0.7;
}
.post-image img{
  object-fit: cover;
  width: 80.5%;
}
.post-left .post-image img{
  float: right;
}
.post-right .post-content{
  margin-left: 17px;
}
@media (max-width: 1199px) {
  .post-content {
      margin-top: 0;
      width: 100%;
  }
  .post-title{
      font-size: 32px;
  }
  .post-image img{
      width: 100%;
  }
  .post-left .post-content{
      padding-right: 17px;
  }
  .post-left .post-image img{
      float: left;
  }
  .post-right .post-content{
      margin-left: 17px;
  }
  
}
@media (max-width: 991px) {
  .post-left,
  .post-right{
      display: block;
  }   
  .post-left .post-image img{
      margin-top: 30px;
  }
  .post-right .post-content{
      margin-top: 30px;
  }
}
@media (max-width: 785px) {
  .post-sup-title{
      font-size: 14px;
  }
  .post-title{
      font-size: 28px;
  }
  .post-text{
      font-size: 14px;
  }
}

/*------------------------------ABOUT SERVICES----------------------------------------*/

#about-services{
  padding: 128px 0;
}
.about-services-title{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.about-services-box{
  margin: 48px 0;
}
.about-services-reviews-clients{
  background-color: var(--grey);
}
.section-logo {
  display: flex;
  align-items: center;
}
.section-logo-number p{
  opacity: 0.7;
}
.section-logo-line{
  margin-right: 0;
  margin-left: auto;
}
.section-logo-line ul{
  display: flex;
  flex-wrap: wrap;
  opacity: 0.8;
}
.section-logo-line ul li{
  width: 203px;
}
.section-logo-line ul li a {
  float: right;
}
@media (max-width: 1399px){
  .section-logo-line ul li:last-child{
      margin-top: 20px;
  }

}
@media (max-width: 1199px) {
  .about-services-title{
      font-size: 40px;
  }
  .section-logo-line ul li:nth-child(4){
      margin-top: 20px;
  }
}
@media (max-width: 991px) {
  .about-services-title {
    font-size: 36px;
  }
  .section-logo-line ul li:nth-child(3){
      margin-top: 20px;
  }
}
@media (max-width: 785px) {
  .about-services-title{
      width: 85%;
  }
  .about-services-logo-section {
      display: block;
  }
  .section-logo-line ul li{
      margin-top: 20px;
  }
  .section-logo-line ul li a {
      float: left;
  }
}

/*----------------------------------TEAM--------------------------------------------*/

#team{
  padding: 128px 0;
  background-color: var(--grey);
}
.team-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.team-box {
display: flex;
}
.team-item {
  background-color: #fff;
  padding: 48px 0;
  padding-bottom: 32px;
  margin-right: 32px;
  margin-top: 48px;
}
.team-item:last-child{
  margin-right:0;
}
.team-item-image {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 64px;
}
.team-item-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.team-item-image-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(348.37deg, #5239FA 17.97%, rgba(255, 255, 255, 0) 79.2%);
  display: none;
}
.team-item-image-hover ul{
  display: flex;
  justify-content: space-between;
  width: 61px;
  margin: 0 auto;
  margin-top: 76%;
}
.team-item-image-hover ul li a{
  color: #fff;
  width: 13px;
  height: 13px;
}
.team-item-image:hover .team-item-image-hover{
  display: block;
}
.team-name {
  margin-bottom: 2px;
  margin-top: 30px;
  text-align: center;
}
.team-speciality {
  text-align: center;
  opacity: 0.7;
}
@media (max-width:1199px) {
  .team-box{
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .team-item:nth-child(2){
      margin-right:0;
  }
}
@media (max-width: 991px){
  .team-title {
      font-size: 40px;
      width: 80%;
  }
}
@media (max-width:785px) {
  .team-item{
      margin-right:0;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------FEATURES---------------------------------------------------------------------*/

/*----------------------------FEATURES LOGO---------------------------*/

.features-logo-section{
  margin: 96px 0;
}

/*----------------------------FEATURES SERVICES-------------------------*/

.features-services-title{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1199px) {
  .features-services-title{
      font-size: 40px;
  }
}
@media (max-width: 991px) {
  .features-services-title {
    font-size: 36px;
  }
}
@media (max-width: 785px) {
  .features-services-title{
      width: 85%;
  }
}

/*-------------------------FEATURES POST------------------------------------*/

.features-post{
  background-color: #fff !important;
  padding: 0 !important;
}
.features-post-left{
  padding: 128px 0;
  margin: 0;
}
.features-post-right{
  padding: 128px 0;
  margin: 0;
  background-color: var(--grey);
}
.features-post-right:last-child{
  background: rgba(252, 217, 128, 0.1);
}
.features-post-content{
  width: 97.5%;
  height: 100%;
  margin: auto 0;
}
.features-post-image img{
  width: 90% ;
}
.features-post-right .features-post-content{
  margin: 0;
  float: right;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------PRICING------------------------------------------------------------------*/

#pricing{
  margin-top: 220px;
}
.pricing-header {
  text-align: center;
  width: 44%;
  margin: 0 auto;
}
.pricing-text {
  opacity: 0.7;
  margin-top: 16px;
}
.pricing-box{
  display: flex;
  margin-top: 64px;
}
.pricing-card {
  background-color: var(--grey);
  border-radius: 12px;
  padding: 64px 48px 62px 48px;
  margin-right: 32px;
  max-width: 405px;
  height: 745px;
  display: flex;
  flex-direction: column;
}
.pricing-card-dark{
  position: relative;
  overflow: hidden;
  background-color: var(--tint-blue);
}
.pricing-card-dark::before{
  content: '';
  position: absolute;
  bottom: 155px;
  left: 50%;
  transform: translateX(-50%);
  width: 1151px;
  height: 1151px;
  background: rgba(255, 255, 255, 0.06);;
  border-radius: 50%;
  pointer-events: none;
}
.pricing-card:last-child{
  margin-right: 0;
}
.pricing-card-price {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.pricing-card-dark-price h3{
  color: #fff;
}
.pricing-card-dark-price p{
  color: var(--yellow) !important;
}
.pricing-card-price p{
  color: var(--royal-blue);
  margin-left: 8px;
}
.pricing-card-title { 
  margin-bottom: 8px;
}
.pricing-card-dark-title {
  color: #fff;
}
.pricing-card-text {
  opacity: 0.7;
}
.pricing-card-dark-text {
  color: #fff;
}
.pricing-card-list li{
  margin-bottom: 20px;
}
.pricing-card-list li a{
  color: var(--dark-blue);
  display: flex;
}
.pricing-card-dark-list li a {
  color: #fff;
}
.pricing-card-list li a .pricing-card-pointer{
  padding-right: 12px;
  display: block;
}

.pricing-card-list li a .pricing-card-pointer-hover{
  padding-right: 12px;
  display: none;
}

.pricing-card-button {
  width: 254px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  padding: 16px;
  color: var(--grey);
  margin: 0 auto;
  margin-top: auto;
}
.pricing-card-dark-button{
  color: var(--dark-blue);
}
.pricing-card-list li a:hover {
  opacity: 0.7;
}
.pricing-card-list li a:hover .pricing-card-pointer{
  display: none;
}
.pricing-card-list li a:hover .pricing-card-pointer-hover{
  display: block;
}
.pricing-card-list-first{
  margin-top: 78px;
}
.pricing-card-list-second{
  margin-top: 50px;
}
.pricing-card-list-thrid{
  margin-top: 44px;
}

@media (max-width: 1199px){
  .pricing-header{
    width: 60%;
  }
  .pricing-box{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pricing-card{
    margin-right: 0;
  }
  .pricing-card:last-child{
    margin-top: 50px;
  }
}
@media (max-width: 991px){
  .pricing-title{
    font-size: 40px;
  }
  .pricing-header{
    width: 70%;
  }
  .pricing-card {
    width: 309px;
    padding: 64px 25px 62px 25px;
  }
}
@media (max-width: 785px){
  .pricing-title{
    font-size: 35px;
  }
  .pricing-header{
    width: 80%;
  }
  .pricing-card {
    width: 100%;
    padding: 64px 48px 62px 48px;
    margin: 0 auto;
  }
  .pricing-card:last-child{
    margin-right: auto;
  }
  .pricing-card{
    margin-top: 50px;
  }
}
@media (max-width: 566px){
  .pricing-title{
    font-size: 28px;
  }
  .pricing-header{
    width: 90%;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------WORK------------------------------------------------------------------*/

/*-------------------------------WORK-HERO--------------------------*/

#work-hero{
  padding-top: 198px;
  padding-bottom: 96px;
  background-color:  var(--grey);
}
.work-hero-content{
  text-align: center;
  width: 57%;
  margin: 0 auto;
}
.work-hero-sup-title,
.work-hero-text {
  opacity: 0.7;
}
.work-hero-title {
  margin-top: 4px;
  margin-bottom: 24px;
}
.work-hero-sosial {
  margin-top: 32px;
}
.work-hero-sosial ul{
  width: 147px;
  margin: 0 auto;
}
.work-hero-sosial ul li a{
  color: var(--dark-blue);
}
@media (max-width:991px) {
  .work-hero-content{
    width: 75%;
  }
  .work-hero-title {
    font-size: 40px;
  }
}
@media (max-width:785px) {
  .work-hero-content{
    width: 85%;
  }
  .work-hero-title {
    font-size: 35px;
  }
  .work-hero-sup-title,
  .work-hero-text {
    font-size: 14px;  
  }
}
@media (max-width:785px) {
  .work-hero-content{
    width: 90%;
  }
  .work-hero-title {
    font-size: 30px;
  }
}

/*------------------PORTFOLIO------------------------------------*/

#portfolio{
  margin-top: 96px;
}
.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.portfolio-nav ul{
  display: flex;
}
.portfolio-nav ul li{
  margin-right: 32px;
}
.portfolio-nav ul li:last-child{
  margin-right: 0;
}
.portfolio-nav ul li a{
  color: var(--dark-blue);
  opacity: 0.7;
}
.portfolio-nav ul li a:hover{
  color: var(--royal-blue);
  opacity: 1;
}
.portfolio-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 34px;
  row-gap: 64px;
}
.portfolio-item{
  max-width: 630px;
}
.portfolio-item-image{
  width: 100%;
  object-fit: cover;
}
.portfolio-item-title {
  margin-top: 24px;
  margin-bottom: 12px;
}
.portfolio-item-text {
  opacity: 0.7;
  text-align: justify;
}
.portfolio-item-link {
  color: var(--dark-blue);
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.portfolio-item:nth-child(5) .portfolio-item-link,
.portfolio-item:nth-child(6) .portfolio-item-link{
  margin-top: 30px;
}
.portfolio-item-link img{
  margin-left: 16px;
}
@media (max-width: 991px) {
  .portfolio-nav ul li{
    margin-right: 20px;
  }
  .portfolio-box {
    column-gap: 20px;
    row-gap: 64px;
  }
  .portfolio-item-title {
    font-size: 30px;
  }
}
@media (max-width: 785px) {
  .portfolio-box {
    display: block;
  }
  .portfolio-item{
    margin-bottom: 64px;
  }
  .portfolio-item:last-child{
    margin-bottom: 0;
  }
  .portfolio-item-title {
    font-size: 25px;
  }
  .portfolio-item-text,
  .portfolio-item-link{
    font-size: 14px;
  }
}
@media (max-width: 566px){
  .portfolio-nav ul{
    flex-wrap: wrap;
  }
}

/*--------------------CONTACT US REFER-------------------------*/

#contact-us-refer{
  margin: 128px 0;
}
.refer-content {
  text-align: center;
  width: 57%;
  margin: 0 auto;
}
.refer-content-text {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 77%;
}
.refer-content-button {
  margin: 0 auto;
  color: var(--dark-blue);
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  padding: 16px;
  width: 230px;
}

@media (max-width:991px) {
  .refer-content{
    width: 75%;
  }
  .refer-content-title {
    font-size: 40px;
  }
}
@media (max-width:785px) {
  .refer-content-content{
    width: 85%;
  }
  .refer-content-title {
    font-size: 35px;
  }
  .refer-content-text {
    font-size: 14px;  
  }
}
@media (max-width:785px) {
  .refer-content{
    width: 90%;
  }
  .refer-content-title {
    font-size: 30px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------CASE STUDIES-------------------------------------------------------------*/

/*----------------------CASE HERO-----------------------------------*/

#case-hero{
  margin-top: 220px;
}
.case-hero-header {
  max-width: 61%;
  margin-bottom: 16px;
}
.case-hero-sup-title {
  margin-bottom: 12px;
  opacity: 0.8;
}
.case-hero-text {
  max-width: 77%;
  opacity: 0.7;
  margin-bottom: 48px;
}
.case-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.case-hero-info {
  margin-top: 48px;
  border-bottom: 1px solid rgba(40, 41, 56, 0.3);
}
.case-hero-info ul{
  display: flex;
}
.case-hero-info ul li:nth-child(2){
  margin-left: 14.4%;
  margin-right: 13.55%;
}
.case-hero-info ul li .case-hero-info-lable {
  opacity: 0.8;
}
.case-hero-info ul li .case-hero-info-text {
  margin-top: 4px;
  margin-bottom: 32px;
}

@media (max-width: 991px) {
  .case-hero-info ul li .case-hero-info-text{
    font-size: 20px;
  }
}
@media (max-width: 785px) {
  .case-hero-header{
    width: 80%;
  }
  .case-hero-sup-title{
    font-size: 20px;
  }
  .case-hero-title{
    font-size: 35px;
  }
  .case-hero-text {
    max-width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 566px) {
  .case-hero-header{
    width: 100%;
  }
  .case-hero-sup-title{
    font-size: 16px;
  }
  .case-hero-title{
    font-size: 24px;
  }
  .case-hero-info ul{
    display: block;
  }
  .case-hero-info ul li:nth-child(2){
   margin: 0;
  }
  .case-hero-info ul li .case-hero-info-text {
    font-size: 14px;
  }
  .case-hero-info ul li .case-hero-info-text{
    font-size: 18px;
  }
}

/*------------------ARTICLE--------------------------------*/

#article{
  margin: 96px 0;
}
.article-title {
  margin-bottom: 12px;
}
.article-text {
  opacity: 0.7;
  margin-bottom: 24px;
}
ul.article-list li{
  text-align: justify;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 16px;
}
ul.article-list li:last-child{
  margin-bottom: 0;
}
ul.article-list li span{
  opacity: 0.7;
}
.article-image {
  margin: 64px 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width:785px) {
  .article-title{
    font-size: 30px;
  }
  .article-text,
  ul.article-list li{
    font-size: 14px;
  }
}

/*--------------------KEYWORDS-----------------------*/

.keywords-content{
  display: flex;
  align-items: center;
}
.keywords-lable {
  color: var(--royal-blue);
  margin-right: 53px;
}
.keywords-content ul{
  display: flex;
  border-top: 1px solid rgba(40, 41, 56, 0.2);
  border-bottom: 1px solid rgba(40, 41, 56, 0.2);
  padding: 24px 0;
}
.keywords-content ul li{
  margin-right: 53px;
}
.keywords-content ul li:last-child{
  margin-right: 0;
}
.keywords-content ul li a{
  color: var(--dark-blue);
  opacity: 0.7;
}

@media (max-width:1399px) {
  .keywords-content ul li{
    margin-right: 35px;
  } 
}
@media (max-width:1199px){
  .keywords-content ul{
    flex-wrap: wrap;
  }
}


/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------BLOG PAGE---------------------------------------------------------------------*/

/*----------------------BLOG HERO-----------------------------------*/

#blog-hero{
  margin-top: 220px;
}
.blog-hero-header {
  width: 74%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}
.blog-hero-title {
  margin-bottom: 16px;
}
.blog-hero-author {
  opacity: 0.87;
}
.blog-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-hero-text {
  margin: 0 auto;
  margin-top: 48px;
  width: 65%;
  text-align: center;
  opacity: 0.7;
}

@media (max-width:1199px) {
  .blog-hero-header{
    width: 80%;
  }
  .blog-hero-title {
    font-size: 40px;
  }
}
@media (max-width:991px) {
  .blog-hero-header{
    width: 90%;
  }
  .blog-hero-title {
    font-size: 35px;
  }
  .blog-hero-text {
    width: 80%;
  }
}
@media (max-width:785px) {
  .blog-hero-header{
    width: 100%;
  }
  .blog-hero-title {
    font-size: 28px;
  }
  .blog-hero-author,
  .blog-hero-date{
    font-size: 14px;
  }
  .blog-hero-text {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width:566px) {
  .blog-hero-title {
    font-size: 20px;
  }
}

/*-----------------------BLOG------------------------------------------*/

.blog-content-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 64px;
  column-gap: 32px;
}
.blog-box-page{
  width: 100%;
  margin: 0;
}

@media (max-width: 991px) {
  .blog-content-grid{
    grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  }
  .blog-title-page{
    font-size: 30px;
  }
}
@media (max-width: 566px) {
  .blog-content-grid{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .blog-title-page{
    font-size: 24px;
  }
}

/*--------------------------------BLOG BODY--------------------------------*/

#blog-body{
  margin-top: 48px;
  margin-bottom: 128px;
}
.blog-body-title {
  margin-bottom: 32px;
}
.blog-body-title:nth-of-type(2){
  margin-top: 40px;
}
.blog-body-text {
  opacity: 0.7;
}
.blog-body-list {
  margin: 24px 0;
}
.blog-body-list li{
  margin-bottom: 12px;
  list-style: disc;
  list-style-position: inside;
}
.blog-body-list li:last-child{
  margin-bottom: 0;
}
.blog-body-list li span{
  opacity: 0.7;
}
.blog-body-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 32px;
  margin-bottom: 56px;
}
@media (max-width:991px) {
  .blog-body-title{
    font-size: 35px;
  }
}
@media (max-width:785px) {
  .blog-body-title{
    font-size: 28px;
  }
  .blog-body-text{
    font-size: 14px;
  }
}
@media (max-width:566px) {
  .blog-body-title{
    font-size: 20px;
  }
}